.amount-left__wrapper {
  font-weight: 300;
  font-size: 28px;
  text-align: center;
  line-height: 1;
}

.amount-left__text {
  font-size: 16px;
  color: #868C94;
}

.amount-left__number {
  letter-spacing: 2px;
}

@media screen and (max-width: 540px) {
  .amount-left__number {
    font-size: 1.2rem;
  }
}
