.category__wrapper p {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.category__list {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.category__item {
  text-align: center;
  width: calc(50% - 20px);
  max-width: 150px;
  padding: 20px;
  padding-top: 30px;
  margin: 10px;
  cursor: pointer;
  background-color: $base-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $highlight-background-color;

    h4 {
      color: #fff;
    }
  }

  h4 {
    font-weight: 300;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
  }

  img {
    max-width: 50px;
    height: auto;
  }
}
