.item__wrapper {

}

.item__list {
  margin-top: 70px;
  list-style-type: none;
  padding-left: 0;
}

.item {
  max-width: 440px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: $base-background-color;

  button {
    width: 100%;
  }
}

.item--purchased {
  opacity: .2;
}

.item__content {
  padding: 40px;
}

.item__title {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  line-height: 1;
}

.item__image img {
  display: block;
  width: 100%;
  height: auto;
}

.item__description a {
  color: #fff;
  cursor: pointer;
}

.item__price {
  span {
    color: $highlight-color;
  }

  color: #fff;
  font-size: 18px;
}

.item__back {
  display: flex;
  flex-direction: row;
  padding: 0 60px;
  background: $secondary-background-color;
  position: fixed;
  top: 70px;
  left: 0;
  width: 50%;
  z-index: 2;
}

.back__category,
.back__button {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}

.back__category {
  margin-left: auto;
  color: #fff;
}

.back__button {
  color: $highlight-color;
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .item__back {
    width: 100%;
  }
}

@media only screen and (min-width: 1800px) {
  .item__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    width: calc(50% - 40px);
  }
}
