html, body {
  overflow: hidden;
}

.left-wrapper {
  max-width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: $secondary-background-color;
  padding-left: 5%;
  padding-right: 5%;
  overflow: scroll;
  color: #868C94;
}

.right-wrapper {
  position: relative;
  margin-top: 0;
	margin-left: 50%;
}

.close-left {
  display: none;
}

.show-left {
  position: absolute;
  bottom: 130px;
  left: 70px;
  background: $base-background-color;
  height: 70px;
  z-index: 4;
  padding: 20px 40px;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .left-wrapper {
    max-width: 100%;
    width: 100%;
    z-index: 3;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;

    &.active {
      transform: translateY(0);
    }
  }

  .right-wrapper {
    max-width: 100%;
    width: 100%;
    margin-left: 5%;
    z-index: 2;
  }

  .show-left,
  .close-left {
    display: block;
  }

  .show-left {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
  }

  .close-left {
    padding: 20px;
    cursor: pointer;
    position: fixed;
    right: 1%;
    top: 50px;
    z-index: 3;
  }

  .close-left__button {
    color: #fff;
    font-size: 34px;
  }
}
