$nav-height: 70px;

body {
  padding-top: $nav-height;
}

.brand {
  margin-right: auto;
  font-weight: 100;
  font-size: 1.4rem;

  a {
    color: white;
    text-decoration: none;
  }

  span {
    color: #39B54A;
  }
}

.left-wrapper {
  padding-top: $nav-height;
}

.nav {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 4rem;
  background: #11161C;
  max-height: $nav-height;
  height: $nav-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.owned {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  margin-left: auto;

}

@media screen and (max-width: 800px) {
  .nav {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 540px) {
  .owned {
    display: none;
  }
}