$base-font-color: #fff;
$base-background-color: #080F16;
$secondary-background-color: #0E1319;
$highlight-background-color: #11161C;
$highlight-color: #39B54A;
$base-font-size: 14px;
$base-font-weight: 400;
$base-line-height: 1.6;

$neat-grid: (
  columns: 12,
  gutter: 20px,
);

*, *:after, *:before {
  box-sizing: border-box;
}

body {
	background: $base-background-color;

  min-height: 2000px; //temp
}

.app {
	@include grid-container;
}
